@import "./variables";

.btn {
  all: unset;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  &.btnDefault {
    border: 1px solid $default;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
