@import "./variables";
@import "./mixins";

.btn {
  all: unset;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  line-height: 20px;
  &.btnDefault {
    border: 1px solid $default;
    &:hover {
      background: $lightGrey;
    }
  }
  &.btnIcon {
    border: 1px solid $default;
    display: flex;
    align-items: center;
    gap: 5px;
    img {
      height: 15px;
    }
    &:hover {
      background: $lightGrey;
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  // @include mediaLaptopL {
  //   max-width: 1200px;
  // }
  @include mediaLaptopM {
    max-width: 1045px;
  }
  @include mediaLaptop {
    max-width: 860px;
  }
  @include mediaTablet {
    max-width: 730px;
  }
}
